fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
requests
pinecone
voyageai
google-generativeai
sentence-transformers
langchain
python-multipart
aiofiles
httpx
tenacity
together
python-json-logger
pyyaml
hatch
hatchling
ensure
numpy
streamlit
types-PyYAML
python-box
tenacity
torch
groq
openai
anthropic
supabase
slowapi
